[submodule "pelican-bootstrap3"]
	path = pelican-bootstrap3
	url = https://github.com/DandyDev/pelican-bootstrap3
[submodule "pelican-toc"]
	path = pelican-toc
	url = https://github.com/ingwinlu/pelican-toc.git
