[submodule "pelican-bootstrap3"]
	path = pelican-bootstrap3
	url = https://github.com/DandyDev/pelican-bootstrap3
[submodule "pelican-toc"]
	path = pelican-toc
	url = https://github.com/ingwinlu/pelican-toc.git
[submodule "pelican_plugin-render_math"]
	path = pelican_plugin-render_math
	url = https://github.com/barrysteyn/pelican_plugin-render_math.git
[submodule "pelican-bootstrapify"]
	path = pelican-bootstrapify
	url = https://github.com/ingwinlu/pelican-bootstrapify.git
[submodule "simple_footnotes"]
	path = simple_footnotes
	url = https://github.com/MartinThoma/simple_footnotes
